<footer class="footer" data-widget-width="limited">
	<div class="footer__item">
		<a class="logo link--underline" href="/">Creditor.</a>
		<p>Прочные позиции в&nbsp;поисковых системах и&nbsp;рейтингах финансовых порталов</p>
	</div>
	<div class="footer__item">
		<h3>Компания</h3>
		<ul>
			<li><a class="link--underline" href="#">Кредиты</a></li>
			<li><a class="link--underline" href="#">Займы</a></li>
			<li><a class="link--underline" href="#">Ипотека</a></li>
			<li><a class="link--underline" href="#">Вклады</a></li>
		</ul>
	</div>
	<div class="footer__item">
		<h3>Контакты</h3>
		<ul>
			<li>+0 800 123 34 56</li>
			<li><a class="link--underline" href="#">help@email.creditor</a></li>
			<li>103265, Москва, улица Охотный ряд, дом 1</li>
		</ul>
	</div>
</footer>
</div>
<script src="js/app.min.js"></script>
</body>
</html>