.section--subscribe {
    padding: 2rem 0 5rem;

    @include min-width(tablet-portrait) {
        padding: 6.2rem 0 10rem;
        background-image: url('../img/svg/subscribe.svg');
    }

    @include max-width(tablet-portrait) {
        .widget {
            padding: 0 !important;
        }
    }
}


