.advantage {
    margin: 0 0 1.5rem;

    @include min-width(tablet-portrait) {
        display: flex;
        margin: 4rem 0 3rem;
    }

    &__item {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 2rem;

        &:not(:last-child) {
            margin-bottom: 1.5rem;

            @include min-width(tablet-portrait) {
                margin-bottom: .5rem;
            }
        }
    }

    &__icon {
        margin-bottom: 1rem;

        @include min-width(tablet-portrait) {
            margin-bottom: 2rem;
        }
    }

    .svg-icon {
        width: 5.2rem; height: 5.2rem;
        fill: var(--c-blue-gray-700);
        color: var(--c-deep-orange-a400);

        @include min-width(tablet-portrait) {
            width: 8rem; height: 8rem;
        }
    }

    h3 {
        margin: 0 0 -1rem;
    }

    p {
        max-width: 46rem;
        text-align: center;
        color: var(--c-blue-gray-300);

        @include min-width(tablet-portrait) {
            max-width: 34rem;
        }
    }
}


